body {
	padding: 20px;
}
#verticalForm fieldset
{
	display: block;
	width: 17em;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#verticalForm fieldset.radio
{
	width: 15em;
	margin: 1em 0 2em 0;
}

#verticalForm fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

#verticalForm fieldset.radio label
{
	font-weight: normal;
}

#verticalForm input
{
	display: block;
	width: 15em;
}

#verticalForm label
{
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#verticalForm label.first
{
	padding-top: 1em;
}

#verticalForm select
{
	display: block;
}


  