.assignment_report {
	padding: 10px;
}

.tutorData {
	display: none !important;
}

.prob-stmt {
	padding-left: 10px;
	padding-right: 10px;
}

.loading {
	color: red;
	font-size: 2em;
}

.header {
	height: 40px;
}

.header h1 {
	font-size: 1.3em;
	margin: 0 margin-left: 10px;
	margin-top: 4px;
}

.header button {
	position: absolute;
	top: 8px;
	left: 10px;
}

.assign_problem_holder {
	margin-bottom: 20px;
	
	display: inline-table !important;
	border: 1px solid black; 
	width: 100%;
}

.widget_print {
	
}

.assign_header_info {
	margin: 0 0 20px 0;
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
}

.assign_problem_info {
	font-weight: bold;
	font-size: 1.3em;
}


.assign_footer_info {
	font-weight: italic;
	font-size: .8em;
}

.assign_prob_ans {
	color: red;
	font-size: 1.3em;
	font-weight: bold;
}
