body {
  margin: 0px;
  padding: 0px;
  background-image: url('/gwt-resources/images/mobile/default_bkg.png');
  background-repeat: repeat;
  font-family: Helvetica;
  /* ensure that we don't get the default callout following a long touch on
  an element, which is a default behavior in Mobile Safari */
  -webkit-touch-callout: none;
  /* disable the Mobile Safari default behavior to adjust font size automatically
  to improve readability */
  -webkit-text-size-adjust: none;
}

#startup {
	display: table-cell;
	vertical-align: middle;
	height: 356px;
 }

#startup > div {
	width: 320px;
	text-align: center;
}

#header {
	position: fixed;
	/* right: 18px; */
	width: 100%;
	z-index: 5;
	height: 40px;
	background-image: url('/gwt-resources/images/mobile/header_middle.png');
	border-bottom: 1px solid rgb(45, 54, 66);
}
#pad1 {
	display: block;
	width: 18px;
	height: 50px;
	float: left;
}

#pad3 {
	display: block;
	width: 18px;
	height: 50px;
	float: left;
}

.pad2 {
	display: block;
	height: 50px;
}

#header .backButton {

  
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url('images/back_button.png') 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  //min-width: 40px;
  //max-width: 60px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}


div.portrait #header .backButton {
	width: 60px;
}

div.landscape #header .backButton {
	width: 90px;
}


#header .title {
  /* base metrics */
  height: 31px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  /* the titles should be displayed below the button so that they don't receive touches */
  z-index: 0;
  /* set up the font appearance */
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;


}

div.portrait #header .title.button-off {
	width: 310px;
	text-align: center;
}

div.portrait #header .title.button-on.portrait-overflow-off {
	width: 310px;
	text-align: center;
}

div.portrait #header .title.button-on.portrait-overflow-on {
	width: 218px;
	text-align: left;
}




div.landscape #header .title.button-off {
	width: 470px;
	text-align: center;
}

div.landscape #header .title.button-on.landscape-overflow-off {
	width: 470px;
	text-align: center;
}

div.landscape #header .title.button-on.landscape-overflow-on {
	/*width: 355px;*/
	width: 310px;
	text-align: left;
}






div.page 
{
	width: 320px;
	min-height: 376px;
}

div.landscape div.page 
{
	width: 480px;
	min-height: 228px;
	
}



#main-content {
	width: 300px;
}

table {
  width: 100%;
}

#testset_div {
    
}

.question_solution_link {
	display: none;
}

#testset_div p {
   font-family:"Times New Roman",Times,serif;
   font-size:12pt;
}

#testset_div li {
  line-height:2em;
}

#testset_div li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#testset_div ul {
  font-family:"Times New Roman",Times,serif;
  font-size:12pt;
  text-align:left;
}


#testset_div .question_div {
   padding:10px;
}

.debug-hide {
  display: none;
}	

.question_responses p {
  display:inline;
  margin:0;
}


.question_head {
	background: red;
	text-align: center;
}

question_head_text {
	font-weight: bold;
	font-size: large;
	font-family:sans-serif;
}

/** Tutor styles */
#tutor_embedded {
  width: 100%;
}


.check-quiz-link {
  display: none;
}

.percent-complete {
        background: green;
        border: 1px solid red;
        font-weight: bold;
        text-align: right;
}
.percent-complete-wrapper {
        background-color: red;
        height: 6px;
        width: 100%;
}
.percent-complete-wrapper img {
        height: 4px;
}
.percent-complete-title {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
}


/** tutor sytles */
#show-work-force,#tutoring_button {
   display: none;
}


#steps_prev {
  margin-right: 10px;
}

.step_title_step {
   background: #E7C2AA;
}

.step_title_hint {
	background: #DBE11E;
}

