body {
  margin: 0px;
  padding: 0px;
  background-image: url('/gwt-resources/images/mobile/default_bkg.png');
  background-repeat: repeat;
  font-family: Helvetica;
  /* ensure that we don't get the default callout following a long touch on
  an element, which is a default behavior in Mobile Safari */
  -webkit-touch-callout: none;
  /* disable the Mobile Safari default behavior to adjust font size automatically
  to improve readability */
  -webkit-text-size-adjust: none;
}


#main-content {
	width: 300px;
}

table {
  width: 100%;
}

#testset_div {
    
}

.question_solution_link {
	display: none;
}

#testset_div p {
   font-family:"Times New Roman",Times,serif;
   font-size:12pt;
}

#testset_div li {
  line-height:2em;
}

#testset_div li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#testset_div ul {
  font-family:"Times New Roman",Times,serif;
  font-size:12pt;
  text-align:left;
}


#testset_div .question_div {
   padding:10px;
}

.debug-hide {
  display: none;
}	

.question_responses p {
  display:inline;
  margin:0;
}


.question_head {
	background: red;
	text-align: center;
}

question_head_text {
	font-weight: bold;
	font-size: large;
	font-family:sans-serif;
}

/** Tutor styles */
#tutor_embedded {
  width: 100%;
}


.check-quiz-link {
  display: none;
}

.percent-complete {
        background: green;
        border: 1px solid red;
        font-weight: bold;
        text-align: right;
}
.percent-complete-wrapper {
        background-color: red;
        height: 6px;
        width: 100%;
}
.percent-complete-wrapper img {
        height: 4px;
}
.percent-complete-title {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
}


/** tutor sytles */
#show-work-force,#tutoring_button {
   display: none;
}


#steps_prev {
  margin-right: 10px;
}

.step_title_step {
   background: #E7C2AA;
}

.step_title_hint {
	background: #DBE11E;
}

