.header-panel {
     background-image: url(../images/logo_1.gif);
     background-repeat: no-repeat;
     background-position: 5 5;
     background-color: white;
     text-align: left;
}

.header-panel-title {
	position: absolute;
	top: 15px;
	left: 180px;
}

.header-panel-school-label {
	text-align: center;
}

.header-panel-logout-btn {
	height: 34px;
	width: 92px;
	position: absolute;
	right: 100px;
	top: 2px;
}
.header-panel-logout-btn-icon {
	background: url(../images/logout.png) no-repeat center left !important;
}
.header-panel-logout-btn-icon-over {
	background: url(../images/logout-over.png) no-repeat center left !important
		;
}

.header-panel-guide-btn {
    position: absolute;
    left: 200px;
    top: 9px;
}

.header-panel-help-btn {
	height: 34px;
	width: 76px;
	position: absolute;
	right: 15px;
	top: 2px;
}
.header-panel-help-btn-icon {
	background: url(../images/help.png) no-repeat center left !important;
}
.header-panel-help-btn-icon-over {
	background: url(../images/help-over.png) no-repeat center left !important;
}

.printer-icon {
	background: url(../images/icons/printer-icon.png) no-repeat center left !important;
}
 
.main-container {
	overflow: auto;
	position: relative;
	height: 400px;
}

.student-grid {
	width: 400px;
	margin: auto;
}

.student-details {
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
	/* position: relative; */
}

.header-panel-logo-2 {
	float: right;
}

.main-port {
    border: 1px solid blue;
    text-align: center;
    width: 100%;
}

.main-toolbar {
	margin-top: 40px;
}

.main-toolbar-go-left {
	text-align: center;
	font-size: 100px;
}

.footer-panel {
	font-size: 10px;
	margin: auto;
    background-color: white;
    color: #929292;
}

.footer-panel ul {
	margin-left: 150px;
	margin-top: 3px;
}

.footer-panel li {
   float: left;
   margin-right: 20px;
}

.student-grid-pane-button {
    font-weight:bold;
    font-size:12px;
}

.register-student-fieldset {
	margin-top: 20px;
}

/** Account Info Form header area */

.account-info {
	height: 120px;
}

.account-info .form {
	width: 370x;
}

.account-info .fld {
	width: 360px;
}

.account-info .fld label {
	display: block;
	float: left;
	width: 170px;
	text-align: right;
	margin-right: 5px;
	font-weight: bold;
}

.account-info .fld div {
	float: right;
	width: 180px;
}

.account-info  .left {
    position: absolute;
    top: 30px;
    left: 20px;
}

.account-info  .right {
    position: absolute;
    top: 30px;
    left: 385px;
}

.account-info .school-name-form .fld {
    width: 100%;
}
.account-info .school-name-form {
	width: 600px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.account-info .school-name-form .fld div {
    float: right;
    width: 420px;
}

.student-grid-panel-grid {
	height: 200px;
}

.student-grid-panel-grid-container {
   margin-left: 100px;
   height: 370px;   
   width: 750px;
}   

.student-grid-panel-toolbar {
  margin-top: 5px;
  margin-left: 5px;
}

.student-grid-panel-button {
	width: 200px;
}

.register-student-form-panel {
	padding:10px 10px 5px 10px;
}

.student-details-panel {
}

.student-details-window {
}

.student-details-panel-grid {
}

.admin-help {
	
}

.faq li{
	list-style: none;
}

.faq .question {
	color: red;
}

.student-details-window .students-count {
   float: right;
   margin-top: 8px;	
   margin-right: 10px;
}