body {
  margin: 0px;
  padding: 0px;
  background-image: url('/gwt-resources/images/mobile/default_bkg.png');
  background-repeat: repeat;
  font-family: Helvetica;
  /* ensure that we don't get the default callout following a long touch on
  an element, which is a default behavior in Mobile Safari */
  -webkit-touch-callout: none;
  /* disable the Mobile Safari default behavior to adjust font size automatically
  to improve readability */
  -webkit-text-size-adjust: none;
}

#startup {
	display: table-cell;
	vertical-align: middle;
	height: 356px;
 }

#startup > div {
	width: 320px;
	text-align: center;
}

#header {
	position: relative;
	z-index: 5;
	height: 40px;
	background-image: url('/gwt-resources/images/mobile/header_middle.png');
	border-bottom: 1px solid rgb(45, 54, 66);
}
#pad1 {
	display: block;
	width: 18px;
	height: 50px;
	float: left;
}

#pad3 {
	display: block;
	width: 18px;
	height: 50px;
	float: left;
}

.pad2 {
	display: block;
	height: 50px;
}

#header .backButton {

  
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url('images/back_button.png') 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  //min-width: 40px;
  //max-width: 60px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}


div.portrait #header .backButton {
	width: 60px;
}

div.landscape #header .backButton {
	width: 90px;
}


#header .title {
  /* base metrics */
  height: 31px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  /* the titles should be displayed below the button so that they don't receive touches */
  z-index: 0;
  /* set up the font appearance */
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;


}

div.portrait #header .title.button-off {
	width: 310px;
	text-align: center;
}

div.portrait #header .title.button-on.portrait-overflow-off {
	width: 310px;
	text-align: center;
}

div.portrait #header .title.button-on.portrait-overflow-on {
	width: 218px;
	text-align: left;
}




div.landscape #header .title.button-off {
	width: 470px;
	text-align: center;
}

div.landscape #header .title.button-on.landscape-overflow-off {
	width: 470px;
	text-align: center;
}

div.landscape #header .title.button-on.landscape-overflow-on {
	/*width: 355px;*/
	width: 310px;
	text-align: left;
}






div.page 
{
	#width: 320px;
	min-height: 376px;
}

div.landscape div.page 
{
	#width: 480px;
	min-height: 228px;
	
}



#main-content {
}

table {
  width: 100%;
}

#testset_div {
    
}

.question_solution_link {
	display: none;
}

#testset_div p {
   font-family:"Times New Roman",Times,serif;
   font-size:12pt;
}

#testset_div li {
  line-height:2em;
}

#testset_div li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#testset_div ul {
  font-family:"Times New Roman",Times,serif;
  font-size:12pt;
  text-align:left;
}


#testset_div .question_div {
   padding:10px;
}

.debug-hide {
  display: none;
}	

.question_responses p {
  display:inline;
  margin:0;
}


.question_head {
	background: red;
	text-align: center;
}

question_head_text {
	font-weight: bold;
	font-size: large;
	font-family:sans-serif;
}

/** Tutor styles */
#tutor_embedded {
  width: 100%;
}


.check-quiz-link {
  display: none;
}

.percent-complete {
        background: green;
        border: 1px solid red;
        font-weight: bold;
        text-align: right;
}
.percent-complete-wrapper {
        background-color: red;
        height: 6px;
        width: 100%;
}
.percent-complete-wrapper img {
        height: 4px;
}
.percent-complete-title {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
}


/** tutor sytles */
#show-work-force,#tutoring_button {
   display: none;
}


#steps_prev {
  margin-right: 10px;
}

.step_title_step {
   background: #E7C2AA;
   -moz-border-radius:0 0 15px 0;
   border-radius: 0 0 15px 0;
   width: 100px;
}

.hint {
   background: #DEFF66;
}
.step_title_hint {
  background: #6F7F33;
  color: white;
  width: 100px;
  padding-left: 2px;
   -moz-border-radius:0 0 15px 0;
   border-radius: 0 0 15px 0;
}

.step_content {
   -moz-border-radius:0 0 15px 15px;
   border-radius: 0 0 15px 15px;
}

#control-floater {
	width: 25px;
	background: yellow;
	z-index: 10;
	display: block;
}

#control-floater.hide {
	visibility: hidden;
}

#control-floater.control-panel-expanded {
	background: green;
}

#control-panel-expanded {
	display: none;
	position: absolute;
	top: 40;
	width: 250px;
	z-index: 999;
	background: yellow;
	padding: 10px;
}

#control-panel-expanded.show {
	display: block;
}

#startup.hide {
	display: none;
}

#pages_container {
	padding: 10px;
}




div.page ul.touch {
  width: 300px;
  padding: 0px;
  margin: 10px 0px 6px 10px;
  font-size: 18px;
  font-weight: bold;
}

div.landscape div.page ul.touch {
 h width: 460px;
}

div.page ul.touch li {
  height: 32px;
  list-style-type: none;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: rgb(171,173,176);  
  margin: 0px;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 20px;
  /* ensure that long pieces of text get trimmed */
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
this matches the first list item, which needs rounding in the top corners
and no bottom border as the item below will already draw a border at its top
*/
div.page ul.touch li:first-child {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  border-bottom-width: 0;
}

/*
this matches the last list item, which needs rounding in the bottom corners
and a bottom border
*/
div.page ul.touch li:last-child {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  margin-bottom: 5px;
}

/*
list items with the .group class are those that can be tapped to drill
further down and therefore need an arrow in the background to indicate that
*/
div.page ul.touch li.group {
  background-image: url('/gwt-resources/images/mobile/chevron.png');
  background-repeat: no-repeat;
  background-position: 280px 18px;
}

div.landscape div.page ul.touch li.group {
  background-position: 440px 18px;
}

/* this is for the touched state of list items */
div.page ul.touch li.group:active {
  background-image: url('/gwt-resources/images/mobile/chevron_touched.png'), url('/gwt-resources/images/mobile/item_background_touched.png');
  background-position: 280px 18px, 0 0;
  background-repeat: no-repeat, repeat-x;
  color: white;
}

div.landscape div.page ul.touch li.group:active {
  background-position: 440px 18px, 0 0;
}


#hm_flash_widget.not_used {
	display: none;
}


.search-bar {
	margin-top: 5px;
	background: #9CABBF;
}

.search-bar span {
	font-size: 1.5em;
	margin: 0 5px;
	
}

.search-bar .selected {
	font-size: 1.8em;
	font-weight: bold;
	background-color: yellow;
}

.topic-view-page-panel ul {
	margin: 0 0 0 2px;
	padding: 0;
}

.topic-view-page-panel li {
	list-style: none;
}


.topic-view-page-panel .resource_type {
   width: 300px;
   color: white;
   padding: 2px;
   background-color: #A8B5C6;
   margin: 10px 0 3px; 0;
}

.topic-view-page-panel .resource_type button {
	margin-bottom: 5px;
	font-size: 1.2em;
}

#steps_tail {
    background-color: #DEDEDE;
    font-size: 20px;
    padding: 1px 0 2px 5px;
    -moz-border-radius:10px;
    border-radius: 10px;
}

#steps_tail button {
   font-size: 1.2em;
}


#steps_head_title {
	display: none;
}