.header-panel {
        background-color: white;
        background-image: url(/gwt-resources/images/logo_1.gif);
        background-position: 5 5;
        background-repeat: no-repeat;
        text-align: left;
}
.header-panel-title {
        left: 180px;
        position: absolute;
        top: 15px;
}
.header-panel-school-label {
        text-align: center;
}
.header-panel-logout-btn {
        background: url(/gwt-resources/images/logout.png) no-repeat center left !important;
        height: 34px;
        position: absolute;
        right: 100px;
        top: 2px;
        width: 92px;
}
.header-panel-logout-btn-over {
        background: url(/gwt-resources/images/logout-over.png) no-repeat center left !important;
}
.header-panel-guide-btn {
        background: url(/gwt-resources/images/admin_getting_started.png) no-repeat center left !important;
        height: 32px;
        position: absolute;
        right: 206px;
        top: 4px;
        width: 192px;
}
.header-panel-guide-btn-over {
        background: url(/gwt-resources/images/admin_getting_started-over.png) no-repeat center left !important;
}
.header-panel-help-btn {
        background: url(/gwt-resources/images/help.png) no-repeat center left !important;
        height: 34px;
        position: absolute;
        right: 15px;
        top: 2px;
        width: 76px;
}
.header-panel-help-btn-over {
        background: url(/gwt-resources/images/help-over.png) no-repeat center left !important;
}
.printer-icon {
        background: url(/gwt-resources/images/icons/printer-icon.png) no-repeat center left !important;
}
.main-container {
        height: 400px;
        overflow: auto;
        padding: 0 20px 20px 20px;
        position: relative;
}
.student-grid {
        margin: auto;
        width: 400px;
}
.student-details {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
}
.header-panel-logo-2 {
        float: right;
}
.main-port {
        border: 1px solid blue;
        text-align: center;
        width: 100%;
}
.main-toolbar {
        margin-top: 40px;
}
.main-toolbar-go-left {
        font-size: 100px;
        text-align: center;
}
.footer-panel {
        background-color: white;
        color: #929292;
        font-size: 10px;
        margin: auto;
}
.footer-panel ul {
        margin-left: 150px;
        margin-top: 3px;
}
.footer-panel li {
        float: left;
        margin-right: 20px;
}
.student-grid-pane-button {
        font-size: 12px;
        font-weight: bold;
}
.register-student-fieldset {
        margin-top: 20px;
}
.account-info {
        height: 120px;
}
.account-info .form {
        width: 370px;
}
.account-info .fld {
        width: 360px;
}
.account-info .fld label {
        display: block;
        float: left;
        font-weight: bold;
        margin-right: 5px;
        text-align: right;
        width: 170px;
}
.account-info .fld div {
        float: right;
        width: 180px;
}
.account-info .left {
        left: 20px;
        position: absolute;
        top: 30px;
}
.account-info .right {
        left: 385px;
        position: absolute;
        top: 30px;
}
.account-info .school-name-form .fld {
        width: 100%;
}
.account-info .school-name-form {
        left: 20px;
        position: absolute;
        top: 10px;
        width: 600px;
}
.account-info .school-name-form .fld div {
        float: right;
        width: 420px;
}
.student-grid-panel-grid {
        height: 200px;
}
.student-grid-panel-grid-container {
        height: 450px;
        margin-left: 100px;
        width: 800px;
}
.student-grid-panel-toolbar {
}
.student-grid-panel-button {
        width: 200px;
}
.register-student-form-panel {
        padding: 10px 10px 5px 10px;
}
.register-student-upload-form {
        padding: 0px 0px 0px 0px;
}
.admin-help {
}
.faq li {
        list-style: none;
}
.faq .question {
        color: red;
}
.print-report-btn {
        float: right;
}
.manage-groups-window-buttons {
        padding: 10px 10px 10px 20px;
}
.manage-groups-window-buttons-button {
        margin-bottom: 5px;
        margin-left: 10px;
}
.student-grid-panel-group-filter-panel {
   font-size: .8em;
   margin-top: 10px;
}	