.main-container p .gold {
        color: #AAC656;
}

.main-container p {
        color: black;
}

.pc-template-btn {
        display: block;
        font-size: 16pt;
}
#pc-template-img {
        margin-top: 20px;
}
.header-panel {
        background-color: white;
        background-image: url(../images/logo_1.gif);
        background-position: 5 5;
        background-repeat: no-repeat;
        text-align: left;
}
.main-port {
        border: 1px solid blue;
        text-align: center;
        width: 100%;
}
.resource-accord-panel-list-view {
        background: #43464B;
        border: none;
        color: white;
        text-align: left;
}
.resource-accord-panel-list-view-selected {
        color: yellow;
}
.accordian-resource-list-panel .x-view-item {
        border: none;
}
.accordian-resource-list-panel .x-panel-body {
        background: #43464B;
}
.accordian-resource-list-panel .x-view-item-sel {
        background: #43464B;
}
.accordian-resource-list-panel .x-view-item-over {
        background: #43464B;
}
.resource-accord-panel-list-view x-view-item x-view-item-sel {
}
.accordian-resource-list-panel-standard {
        background: #191c1e;
}
.accordian-resource-list-panel-standard .x-view-item {
        border: #191c1e;
}
.accordian-resource-list-panel-standard .x-panel-body {
        background: #191c1e;
}
.accordian-resource-list-panel-standard .x-view-item-sel {
        background: #191c1e;
}
.accordian-resource-list-panel-standard .x-view-item-over {
        background: #191c1e;
}
.accordian-resource-list-panel-standard .resource-accord-panel-list-view {
        background: #191c1e;
}
.footer-panel {
        background-color: white;
        color: #929292;
        font-size: 10px;
}
.footer-panel ul {
        margin-left: 150px;
        margin-top: 3px;
}
.footer-panel li {
        float: left;
        margin-right: 20px;
}
.resource-accord-panel {
        background: #34383B;
        color: #5E8005;
        font-weight: bold;
}
.topic-selector {
        width: 400px;
}
.login-panel {
        text-align: center;
}

.login-panel-container {
        background: url(../images/login_bkg.png) no-repeat;
        height: 120px;
        left: 50%;
        margin: auto;
        margin-left: -229px;
        margin-top: -44px;
        position: absolute;
        top: 50%;
        width: 458px;
}
.login-panel-container .field {
        margin-right: 10px;
        text-align: right;
        width: 90px;
}
.login-panel-form {
        margin-top: 15px;
}
.login-panel-form .row {
        margin-bottom: 5px;
}
.login-panel-container value {
}
.login-panel-container {
}
.login-panel-container-horizontal {
        margin: 0 0 0 40px;
}
.login-panel-container-horizontal button {
        margin-left: 20px;
}
.login-panel-form-title {
        color: blue;
        font-weight: bold;
        margin-bottom: 10px;
}
.login-panel-form-forgot {
        display: block;
        float: left;
        font-size: 60%;
        margin-left: 10px;
}
.login-action-background {
        background: url(../images/login_button.png) no-repeat;
}
.do-next-panel {
        margin: 20px;
}
.topics-panel {
        margin-bottom: 10px;
        margin-top: 10px;
}
.current-topic {
        font-color: blue;
        text-align: center;
}
.header-title {
        position: absolute;
        right: 20px;
        text-align: left;
        top: 18px;
        width: 200px;
}
.header-toolbar-title {
        color: red;
        font-weight: bold;
        text-align: right;
        width: 200px;
}
.percent-complete {
        background: green;
        border: 1px solid red;
        font-weight: bold;
        text-align: right;
}
.percent-complete-wrapper {
        background-color: red;
        height: 4px;
        margin-top: 20px;
        width: 100%;
}
.percent-complete-wrapper img {
        height: 2px;
}
.percent-complete-title {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
}
#hm_content h1 {
        color: blue;
}
.header-panel-cmu-btn-icon {
        background: url(../images/catch_me_up.png) no-repeat center left
                !important;
}
.header-panel-cmu-btn-icon-over {
        background: url(../images/catch_me_up-over.png) no-repeat center left
                !important;
}

.header-panel-logout-btn {
        background: url(../images/logout.png) no-repeat center left !important;
        height: 34px;
        position: absolute;
        right: 100px;
        top: 2px;
        width: 92px;
}
.header-panel-logout-btn-over {
        background: url(../images/logout-over.png) no-repeat center left !important;
}
.header-panel-help-btn {
        background: url(../images/help.png) no-repeat center left !important;
        height: 34px;
        position: absolute;
        right: 20px;
        top: 2px;
        width: 76px;
}
.header-panel-help-btn-over {
        background: url(../images/help-over.png) no-repeat center left!important;
}
.header-panel-cmu-btn {
        height: 34px;
        left: 44%;
        position: absolute;
        top: 2px;
        width: 154px;
        z-index: 2;
}
.quiz-page-resource {
        background: #34383B;
        padding: 20px 10px;
}
.quiz-page-resource p {
        color: #D1D5D8;
        margin-bottom: 10px;
        text-align: middle;
}
.next-dialg {
}
.next-dialog-panel {
        padding: 20px;
}
.quiz-next-panel div {
        display: inline;
}
.prescription-next-panel ul {
        margin-top: 2px;
}
.prescription-next-panel li {
        display: inline;
        list-style: none;
        margin-left: 10px;
}
.main-panel-west {
        background: #34383B;
        font-size: 12px;
}
.header-panel-title {
        color: #85C652;
        left: 180px;
        position: absolute;
        top: 15px;
        z-index: 10;
}
#inmh_goto {
        display: none;
}
.show-work-button {
        color: #E43C00;
        position: absolute;
        right: 80px;
        top: 5px;
        width: 130px;
}
.hide-work-button {
        color: #E43C00;
        position: absolute;
        right: 160px;
        top: 5px;
        width: 130px;
}
.flvplayer-widget {
}
#wrapper,#container {
        height: 500px;
        width: 600px;
}
#wrapper {
        bottom: 50%;
        position: absolute;
        right: 50%;
}
#container {
        left: 50%;
        position: relative;
        top: 50%;
}
.cm-main-panel-button-panel {
        height: 50px;
        position: relative;
}
.cm-main-panel-prev-icon {
        background: url(/gwt-resources/images/prev_topic.png) no-repeat center
                left !important;
        height: 46px;
        left: 0;
        position: absolute;
        top: 2;
        width: 113px;
}
.cm-main-panel-prev-icon-over {
        background: url(/gwt-resources/images/prev_topic-over.png) no-repeat
                center left !important;
}
.cm-main-panel-next-icon {
        background: url(/gwt-resources/images/next_topic.png) no-repeat center
                left !important;
        height: 46px;
        position: absolute;
        right: 0;
        top: 2;
        width: 113px;
}
.cm-main-panel-next-icon-over {
        background: url(/gwt-resources/images/next_topic-over.png) no-repeat
                center left !important;
}
.cm-main-panel-next-quiz {
        background: url(/gwt-resources/images/check_quiz.png) no-repeat center
                left !important;
        height: 51px;
        left: 0;
        position: absolute;
        top: 0;
        width: 248px;
}
.cm-main-panel-next-quiz-over {
        background: url(/gwt-resources/images/check_quiz-over.png) no-repeat
                center left !important;
}
.resource-wrapper {
}
.prescription-info-panel {
        background: #34383B;
        color: #C0C662;
        padding: 20px;
}
.prescription-info-panel p {
        margin-bottom: 10px;
}
.prescription-info-panel .form-field {
        color: #C0C662;
        font-weight: bold;
        margin-right: 10px;
        width: 75px;
}
.prescription-info-panel .form-value {
        color: #C0C662;
        width: 200px;
}
.prescription-info-panel {
}
.cm-main-panel-header {
        background: #34383B;
        color: #CBFF07;
        font-size: 1.2em;
        height: 55px;
        text-align: center;
}
.cm-main-panel-header h2 {
        color: white;
        font-size: 1em;
        text-align: center;
}
.accordian-resource-list-panel {
        background: #34383B;
}
.accordian-resource-list-panel img.resource-type {
        display: none;
}
.accordian-resource-list-panel img.resource-item {
        display: none;
}
.resource-type-complete img.resource-type {
        display: block;
}
img.resource-item-complete {
        display: inline;
}
.resource-item-complete img {
        display: inline;
}
.login-background-img {
        border: 1.2px solid #F0F0F0;
        margin: 10px;
}
.question_solution_link {
        display: none;
}
.hello-info {
        font-size: .9em;
        margin-top: 3px;
        position: absolute;
        right: 200px;
        width: 200px;
}
.resource-accord-panel-loading {
        color: #E2FFFF;
        margin: 10px 15px;
}
#tutoroutput p {
        margin: 0 0 10px;
}
#tutor_embedded, #tutoroutput, #tutoroutput .step, #tutoroutput .hint, #steps_tail  {
        width: auto;
}

#tutor_embedded a.button:link,#tutor_embedded a.button:active,#tutor_embedded a.button:visited,#tutor_embedded a.button:hover {
        color: #FFFF00;
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: bold;
        margin-left: 15px;
        text-decoration: none;
}
#tutor_embedded a.debug-off {
        display: none;
}
.debug-on #tutor_embedded a.debug-off {
        display: inline;
}
#steps_head {
        background-image: none;
        display:none;
}
#steps_tail {
        background: #DEDEDE;
        height: 30px;
}

#steps_info {
        width: 200px;
}
.resource-container {
        background-image: url(/gwt-resources/images/bg/default.png);
        background-repeat: repeat-x;
}
.resource-container-forest {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/forest-1600x1065.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1065px;
        max-width: 1600px;
}
.resource-container-bike1 {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/bike1-1600x1067.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1067px;
        max-width: 1600px;
}
.resource-container-tulips {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/roses-1600x1067.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1067px;
        max-width: 1600px;
}
.resource-container-sunrise {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/sunrise-1600x1558.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1558px;
        max-width: 1600px;
}
.resource-container-sunfield {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/sunfield-1600x1131.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1600px;
        max-width: 1131px;
}
.resource-container-neutral {
        background-color: #34383b;
        background-image: none;
}
.resource-container-redish {
        background-color: #933280;
        background-image: none;
}
.resource-container-none {
        background-image: none;
}
.resource-container-forest {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/forest-1600x1065.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1065px;
        max-width: 1600px;
}
.resource-container-clouds {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/clouds-1600x1067.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1067px;
        max-width: 1600px;
}

.resource-container-snowman {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/snowman-1600x1050.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1050px;
        max-width: 1600px;
}

.resource-container-sunfield {
        background-attachment: fixed;
        background-image: url(/gwt-resources/images/bg/sunfield-1600x1131.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 1131px;
        max-width: 1600px;
}
.resource-close {
        margin: 5px 0 5px 10px;
}
.resource-viewer-close-button {
        color: #E43C00;
        position: absolute;
        right: 10px;
        text-align: right;
        top: 5px;
        width: 100px;
}
.resource-viewer-impl-tutor,
.resource-viewer-impl-tutor .whiteboard-container {
        background: transparent;
}


#show-work-button {
        left: 8px;
        position: absolute;
        top: 8px;
}
.resource-viewer-container #hm_content {
        background-color: white;
        color: black;
        font-size: 130%;
        margin: 20px;
        padding: 10px;
        width: auto;
}
#hm_content p {
        color: black;
}

.quiz-results-status-window .head {
        background: transparent url(/images/trifco/design/quiz_head-500x24.gif)
                no-repeat scroll 0 0;
        height: 24px;
        width: 500px;
}
.help-window {
}
.help-window-bg-combo {
        width: 100%;
}
.help-window-message-area {
        font-color: blue;
        margin-bottom: 10px;
        margin-top: 5px;
}
.help-window li {
        font-size: 1em;
}
.help-window .button {
        width: 250px;
}
.bg-image-label {
        color: blue;
        margin-bottom: 10px;
        margin-top: 5px;
}
.help-window fieldset {
        color: blue;
}
.help-window .x-btn {
        width: 200px;
}
.help-window-additional-options table {
        display: inline;
}
.activity-widget {
        margin: 5px;
}
.auto-assignment-window p {
        padding: 10px;
}
.auto-assignment-window p {
        font-size: 1.2em;
        margin-bottom: 5px;
        padding: 10px;
}
.auto-assignment-window b {
        font-size: 1.3em;
        font-weight: bold;
}
.debug-hide {
        color: white;
        display: none;
}
.debug-show {
        display: block;
}
.debug-mode .debug-hide {
        color: red;
        display: none;
        font-size: .8em;
        margin-left: 10px;
}
.help-window .version {
        font-size: .8em;
}
.help-window {
        z-index: 100;
}
.demo-complete-window p {
        font-size: 1.2em;
        margin: 10px 15px;
}


.bottom {
        margin-top: 1px;
}
.resource-viewer-container .check-quiz-link {
        display: none;
}

.show-work-window {
        left: 10px;
        position: absolute;
        top: 10px;
}
.student-show-work-window #tutor_embedded #steps_head_title,.student-show-work-window #tutor_embedded .button {
        display: none;
}
.tutor_solution_wrapper {
}
#show-work-force {
        display: block;
        height: 18px;
        left: 9px;
        position: absolute;
        text-align: center;
        top: 3px;
        width: 140px;
}
.student-details-panel {
}
.student-details-window {
}
.student-details-window-container {
        height: 300px;
        width: 570px;
}
.student-details-panel-grid {
        margin-top: 45px;
}
.student-details-panel-sw-btn {
        padding-bottom: 10px;
        padding-left: 10px;
}
.student-details-panel-pr-btn {
        padding-bottom: 10px;
        padding-right: 10px;
}
.student-details-window .students-count {
        float: left;
        margin-right: 10px;
        margin-top: 8px;
}
.student-detail-info {
        font-size: 12px;
        height: 65px;
        position: relative;
}
.detail-info .form {
        width: 250px;
}
.detail-info .fld {
        width: 245px;
}
.detail-info .fld label {
        display: block;
        float: left;
        font-weight: bold;
        margin-right: 5px;
        text-align: right;
        width: 90px;
}
.detail-info .fld div {
        float: right;
        width: 148px;
}
.detail-info .left {
        left: 20px;
        position: absolute;
        top: 10px;
}
.detail-info .right {
        left: 265px;
        position: absolute;
        top: 10px;
}
#flash-alt-content {
        margin: auto;
        margin-top: 20px;
        text-align: center;
        width: 300px;
}
.auto-advance-window {
        font-size: 1.5em;
}
.auto-advance-window .completed {
}
.auto-advance-window p {
        padding: 5px;
}
.auto-advance-window .advanced-to {
        margin-top: 10px;
}
.auto-advance-window .plan {
        font-size: 1.3em;
        font-weight: bold;
        padding: 10px;
        text-align: center;
}
.show-work-example-window {
}
.prescription-cm-gui-definition-resource-panel {
        background: #43464B;
        padding: 10px 15px 15px 15px;
}
.prescription-cm-gui-definition-resource-panel .resource-button {
        margin-top: 10px;
}
.resource-menu-button-complete-icon {
        background: url(/gwt-resources/images/check_black.png) no-repeat center
                left !important;
}
.prescription-resource-panel {
        background: #43464B;
}
#loading-error {
        font-weight: bold;
}
.report-card-info-panel {
        padding: 10px;
        text-align: center;
}
.context-change-message {
        text-align: center;
}
.context-change-message p {
        margin-bottom: 10px;
        margin-top: 10px;
}
.context-change-message b {
        font-size: 120%;
}
.context-change-message a:link,.context-change-message a:visited,.context-change-message a:active,.context-change-message a:hover {
        margin-left: 10px;
        text-decoration: none;
}
.context-change-message .suggest-div {
        text-align: left;
}
.context-change-message .suggest-div ul {
        margin: 10px;
}
.context-change-message .suggest-div li {
        list-style: disc;
        list-style-position: inside;
}
.auto-student-registration-forgot-password p {
        padding: 10px;
}
.cm-welcome-panel {
        background-image: url(/gwt-resources/images/bg/default.png);
}
.cm-welcome-panel h1 {
        margin-top: 15px;
        padding: 0 0 0 10px;
}
.cm-welcome-panel p {
        color: black;
        padding: 10px;
}
.cm-welcome-panel ul {
        padding: 10px;
}
.cm-welcome-panel li {
        list-style: disc;
        list-style-position: inside;
}
.cm-welcome-panel a:link,.cm-welcome-panel a:visited,.cm-welcome-panel a:active,.cm-welcome-panel a:hover {
        margin-left: 10px;
        text-decoration: none;
}
.printer-icon {
        background: url(/gwt-resources/images/icons/printer-icon.png) no-repeat center left !important;
}
.prescription-help-panel .info{
	padding: 0px 10px 10px 10px;
	color: white;
}

.prescription-help-panel ul {
		margin-top: 10px;
		list-style-position: outside;
		margin-left: 20px;
}

.prescription-help-panel li {
	list-style-type: disc;;
	
}


.prescription-help-panel {

}

.prescription-help-panel h2 {
   color: #E42400;
}


/** teset_div (quiz) */

#testset_div {
        position: relative;
        margin: 0;
        padding: 0;
}

#testset_footer .check-quiz-link {
        display: block;
        text-align: center;
}


/** do not display the check quiz link on the results panel */
.resource-viewer-impl-results #testset_footer .check-quiz-link {
	display: none;
}
	
#testset_div a.check-quiz-link:link,#testset_div a.check-quiz-link:active,#testset_div a.check-quiz-link:visited,#testset_div a.check-quiz-link:hover {
        color: black;
        text-decoration: underline;
}
#testset_div {
        background-color: transparent;
}
#testset_div .question_wrapper {
        background-color: #E2E2E2;
}
#testset_head {
        background: none;
        display: none;
}

#testset_footer {
    display: block;
    background: #F1F1F1;
    width: auto;
}

#testset_div .question_head {
        font-size: 12px;
}

#testset_div h1 {
        margin-bottom: 15px;
}

#testset_div {
        width: auto;
}

#testset_div .question_head {
   width: auto;
}

.response_div {
   margin-right: 15px;
}

/** Target the background of the resource container for the tutor*/
/** .cm-resource-viewer-container .resource-viewer-impl-tutor .x-panel-body */
 
.cm-resource-viewer-container .x-panel-body {
    background: transparent;
    border: none;
}

.resource-viewer-impl-activity,
.resource-viewer-impl-review,
.resource-viewer-impl-results,
.resource-viewer-impl-video,
.quiz-cm-gui-definition-resource {
   background: white;
}

.quiz-cm-gui-definition-resource {
  padding-bottom: 10px;
}


/** Show Work Panel Full screen / maximized */
.show-work-panel {
  border: none;
  padding: 0;
}

.show-work-panel-full {
  background: white;
}  


#problem-statement-panel .tutoroutput {
    font-family:"Times New Roman",Times,serif;
    font-size:12pt;
}

#problem-statement-panel p {
        margin: 0 0 10px;
        font-size: 12pt;
}

#problem-statement-panel .problem_statement {
	font-size: 20px;
	color: black;
    background:#F1F1F1;
    padding:10pt;
    vertical-align:middle;
}




.resource-viewer-impl-review table td {
    font-family:"Times New Roman",Times,serif;
    font-size:12pt;
}


.resource-viewer-impl-review em {
    font-style: italic;
}



#testset_div li {
	line-height: 2em;
}