#startup {
	display: table-cell;
	vertical-align: middle;
	height: 356px;
 }

#startup > div {
	width: 320px;
	text-align: center;
}


#startup.hide {
	display: none;
}

.activity {
	border: 1px solid blue;
	background: #9C275E;
	
	max-width: 500px;
	min-width: 300px;
	
	min-height: 250px;
	
	-moz-border-radius: 2%;
	border-radius: 2%;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
	margin: 10px;
}

* html .activity { 
   width: expression( document.body.clientWidth > 599 ? "600px" : "auto" ); /* sets max-width for IE */
   height: expression( document.body.clientHeight > 249 ? "250px" : "auto" ); /* sets max-height for IE */
}


.act-header {
	border: 1px solid red;
	margin: 5px 20px;
	height: 50px;
}

.act-title {
	margin: 20px 5px;
	float: right;
}

.old_act-body {

}

.act-footer {
	border: 1px solid green;
	margin: 0 20px
	height: 75px;;
}






/** popup message box */


.gwt-PopupPanel {
  border: 3px solid #C3D9FF;
  padding: 3px;
  background: white;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
html>body .gwt-PopupPanel {
}
* html .gwt-PopupPanel {
}
.gwt-DecoratedPopupPanel .popupContent {
}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
  padding: 3px;
  background: #d0e4f6;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
  background: url(/activities/images/hborder.png) repeat-x;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
  background: url(/activities/images/hborder.png) repeat-x 0px -4px;
  -background: url(/activities/images/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
  background: url(/activities/images/vborder.png) repeat-y;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
  background: url(/activities/images/vborder.png) repeat-y -4px 0px;
  -background: url(/activities/images/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
  background: url(/activities/images/corner.png) no-repeat 0px -10px;
  -background: url(/activities/images/corner_ie6.png) no-repeat 0px -10px;
}
.gwt-DecoratedPopupPanel .popupTopRight {
  background: url(/activities/images/corner.png) no-repeat -5px -10px;
  -background: url(/activities/images/corner_ie6.png) no-repeat -5px -10px;
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
  background: url(/activities/images/corner.png) no-repeat 0px -15px;
  -background: url(/activities/images/corner_ie6.png) no-repeat 0px -15px;
}
.gwt-DecoratedPopupPanel .popupBottomRight {
  background: url(/activities/images/corner.png) no-repeat -5px -15px;
  -background: url(/activities/images/corner_ie6.png) no-repeat -5px -15px;
}
html>body .gwt-DecoratedPopupPanel {
}
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}














.gwt-DialogBox .Caption {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/corner.png) no-repeat -13px 0px;
  -background: url(images/corner_ie6.png) no-repeat -13px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/corner.png) no-repeat -18px 0px;
  -background: url(images/corner_ie6.png) no-repeat -18px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/corner.png) no-repeat 0px -15px;
  -background: url(images/corner_ie6.png) no-repeat 0px -15px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/corner.png) no-repeat -5px -15px;
  -background: url(images/corner_ie6.png) no-repeat -5px -15px;
}
html>body .gwt-DialogBox {
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.cw-DialogBox {
}


/** Handle the formatting of the fractions in 
   explain panel
*/
.float-left {
	float:left;
}

.fraction {
    height: 50px;
    float: left;
}

.frac {
    position: relative;
    text-align:center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
}
.before, .after {
    line-height: 40px;
    vertical-align:middle;
}
.divider {
    height: 1px;
    background: black;
    line-height: 1px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 30px;         
}

.num {
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
}
     
.den {
   position: absolute;
   left: 0;
   top: 30px;
   width: 30px;
}
