.cm-MenuBar {
	border: 1px solid #666;
	margin: 0 auto;
	background-color: #eee;
	font-size: 70%;
	padding: 3px;
}

.cm-MenuBar table {
	border-collapse: separate;
	border: 1px solid #00f;
	background-color: #ddd;
}

.cm-MenuBar .gwt-MenuItem {
	cursor: hand;
	cursor: pointer;
	border: 1px solid #999;
	background-color: #eee;
	padding: 2px 10px;
}

.cm-MenuBar .gwt-MenuItem-selected {
	background-color: #fff;
}

.cm-MenuBar.gwt-MenuBar-vertical {
	width: 300px;
	left: 0;
    border: 1px solid #666;
    margin: 0 auto;
    font-size: 70%;
    padding: 3px;
}