/** Core mobile css styles that apply to all mobile apps
*/

.popup-message .popup-title {
    font-weight: bold;
    background: #EF4200;
    position: absolute;
    left: 0;
    top: 0;
    width: 320;
    -moz-border-radius:5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}



.popup-message {
    background: white;
    -moz-border-radius:10px;
    border-radius: 10px;
    border: 2px solid #6E84A2;
    padding: 10px;
    font-size: 1.2em;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
    z-index: 100;
}

.popup-message button {
	margin-top: 15px;
	margin-bottom: 15px;
}

.popup-message.error {
    color: red;
}

.popup-title {
   width: 100%;
}

.video-title {
    font-weight: bold;
    background: #EF4200;
    position: absolute;
    left: 0;
    top: 0;
    width: 685;
    -moz-border-radius:5px 9px 0 0;
    border-radius: 5px 9px 0 0;
    text-align: center;
}

.video-player-mobile {
    background: white;
    -moz-border-radius:10px;
    border-radius: 10px;
    border: 2px solid #6E84A2;
    padding: 10px;
    font-size: 1.2em;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
	z-index: 100;
	left: 100px !important; 
	top: 100px !important;
}

.video-player-mobile button {
	margin-top: 15px;
	margin-bottom: 10px;
}

.video-div {
	margin-top: 5px;
}