#canvas-container {
	position: relative;
}

#ocanvas {
	border: 1px solid #000;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #000000;
}

#gcanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #000000;
}

#tcanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #000000;
}

#inputBox {
	position: absolute;
	border: 1px solid #333333;
	display: none;
}

#tools {
	height: 35px;
	padding-left: 5px;
	padding-top: 3px;
	background: #eeeeee;
	border-bottom: 1px solid #000000;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.wb-container button {
	width: 50px;
	height: 30px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	cursor: hand;
	font-family: Arial, Tahoma, Verdana, Calibri;
	text-align: center;
	border: 1px solid #000000;
	background: #ececec;
	background-image: -moz-linear-gradient(left, #ececec, #ffffff);
	background-image: -webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	-webkit-box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.7);
	-moz-box-shadow: 2px 3px 3px rgba(51, 51, 51, 0.7);
	box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.7);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',
		endColorstr='#ffffff' );*/
}

.btnType1 {
	width: 45px;
	height: 25px;
}

#button_clear {
	width: 50px;
	height: 30px;
}

#done_btn {
	width: 45px;
	height: 25px;
}

#button_text {
	background-image: url(/gwt-resources/images/whiteboard/txt.png);
	background-image: url(/gwt-resources/images/whiteboard/txt.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/txt.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_pencil {
	background-image: url(/gwt-resources/images/whiteboard/pencil.png);
	background-image: url(/gwt-resources/images/whiteboard/pencil.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/pencil.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_line {
	background-image: url(/gwt-resources/images/whiteboard/line.png);
	background-image: url(/gwt-resources/images/whiteboard/line.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/line.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_rect {
	background-image: url(/gwt-resources/images/whiteboard/rect.png);
	background-image: url(/gwt-resources/images/whiteboard/rect.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/rect.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_oval {
	background-image: url(/gwt-resources/images/whiteboard/oval.png);
	background-image: url(/gwt-resources/images/whiteboard/oval.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/oval.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_eraser {
	background-image: url(/gwt-resources/images/whiteboard/eraser.png);
	background-image: url(/gwt-resources/images/whiteboard/eraser.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/eraser.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_gr2D {
	background-image: url(/gwt-resources/images/whiteboard/gr_2d.png);
	background-image: url(/gwt-resources/images/whiteboard/gr_2d.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/gr_2d.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}

#button_nL {
	background-image: url(/gwt-resources/images/whiteboard/gr_nL.png);
	background-image: url(/gwt-resources/images/whiteboard/gr_nL.png),
		-moz-linear-gradient(left, #ececec, #ffffff);
	background-image: url(/gwt-resources/images/whiteboard/gr_nL.png),
		-webkit-gradient(linear, left top, right top, from(#ececec),
		to(#ffffff) );
	background-repeat: no-repeat;
	background-position: center;
}
