<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="helloBean" class="hotmath.spring.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="$$USER$$"/>
        <property name="password" value="$$PASSWORD$$"/>
        <property name="url" value="$$URL$$"/>
        
        <property name="initialSize" value="10"/>
        <property name="maxActive" value="150"/>
        <property name="maxWait" value="60000"/>
        <property name="maxIdle" value="3"/>
        <property name="validationQuery" value="select 1"/>
        <property name="testOnBorrow" value="1"/>
        <property name="testOnReturn" value="1"/>
        <property name="testWhileIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="30000"/>
        <property name="logAbandoned" value="0"/>
        <property name="removeAbandoned" value="0"/>
	</bean>
	
	<bean id="abstractJdbcDao" abstract="true" class="org.springframework.jdbc.core.support.SimpleJdbcDaoSupport">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- DAOs used by CM -->    
    <bean id="testDao" class="hotmath.conn.TestDao" parent="abstractJdbcDao"/>
    <bean id="hotmath.cm.server.model.CmUserProgramDao" class="hotmath.cm.server.model.CmUserProgramDao" parent="abstractJdbcDao"/>
    <bean id="cmStudentDao" class="hotmath.gwt.cm_admin.server.model.CmStudentDao" parent="abstractJdbcDao"/>
    <bean id="haTestDefDao" class="hotmath.testset.ha.HaTestDefDao" parent="abstractJdbcDao"/>
    <bean id="cmAdminDao" class="hotmath.gwt.cm_admin.server.model.CmAdminDao" parent="abstractJdbcDao"/>
    <bean id="haTestDao" class="hotmath.testset.ha.HaTestDao" parent="abstractJdbcDao"/>
    <bean id="haTestRunDao" class="hotmath.testset.ha.HaTestRunDao" parent="abstractJdbcDao"/>
    <bean id="haUserDao" class="hotmath.testset.ha.HaUserDao" parent="abstractJdbcDao"/>
    <bean id="cmCustomProgramDao" class="hotmath.gwt.cm_admin.server.model.CmCustomProgramDao" parent="abstractJdbcDao"/>
    <bean id="cmQuizzesDao" class="hotmath.gwt.cm_admin.server.model.CmQuizzesDao" parent="abstractJdbcDao"/>
    <bean id="cmHighlightsDao" class="hotmath.gwt.cm_admin.server.model.CmHighlightsDao" parent="abstractJdbcDao"/>
    <bean id="hotmath.testset.ha.HaUserExtendedDao" class="hotmath.testset.ha.HaUserExtendedDao" parent="abstractJdbcDao"/>
    <bean id="hotmath.cm.server.model.CmReportCardDao" class="hotmath.cm.server.model.CmReportCardDao" parent="abstractJdbcDao"/>
    <bean id="hotmath.cm.dao.HaLoginInfoDao" class="hotmath.cm.dao.HaLoginInfoDao" parent="abstractJdbcDao"/>
    <bean id="StudentActivityDao" class="hotmath.gwt.cm_admin.server.model.StudentActivityDao" parent="abstractJdbcDao"/>
    <bean id="parallelProgramDao" class="hotmath.gwt.cm_admin.server.model.ParallelProgramDao" parent="abstractJdbcDao"/>
    <bean id="hotmath.cm.server.model.CmTemplateDao" class="hotmath.cm.server.model.CmTemplateDao" parent="abstractJdbcDao"/>

    <!-- DAOs used by HM Mobile -->    
    <bean id="hotmath.gwt.hm_mobile.server.dao.BooksDao" class="hotmath.gwt.hm_mobile.server.dao.BooksDao" parent="abstractJdbcDao"/>
    

</beans>

