<!--  Tutor GUTS go here -->
<div id='tutor_embedded' style='display: block'>
  </div>
    <!-- HOTMATH BODY START -->
    <div id="tutoroutput" style='display: block;position: relative;'>
        <div id='tutor_raw_steps_wrapper'>
            $solution_html
        </div>
        
        <div id='steps_tail' style='position: relative'>
	       <div id='tutor_message'>&nbsp;</div>
	        <button id='steps_prev' href="#" class="sexybutton sexysimple sexymedium  sexyred"
	            onclick="TutorManager.showPreviousStep();" accesskey="p">
	            Back Step
	        </button>
	        <button id='steps_next' href="#" onclick="TutorManager.showNextStep();" accesskey="s" class="sexybutton sexysimple sexymedium  sexyred">
	            Next Step
	        </button>
	        <button id='steps_lesson' href="#" onclick="TutorManager.backToLesson();" accesskey="s" class="sexybutton sexysimple sexymedium  sexyred">
	            Lesson
	        </button>
	        
	        <div class='cm-tutor-button-bar-bottom' style='display: none;float: right;'>
	           <button class='button debug-off' onclick='expandAllSteps();'>Expand</button>
	       </div>
        <img id='scrollTo-button' src='/images/tutor5/spacer.gif'>
    </div>
    <!-- HOTMATH BODY END -->
</div>
<!--  END TUTOR GUTS  -->
<div class='debug-hide'>$pid</div>
