<!--  Tutor GUTS go here -->
<div id='tutor_embedded' style='display: block'>
    <!-- HOTMATH BODY START -->
    <div id="tutoroutput" style='display: block;position: relative;'>
        <div class='cm-tutor-button-bar-top' style='position: absolute; top:3px;right: 15px;'>
         <a class='button' href='#' onclick='showWorkDialog_Gwt();return false;'>Show Work<img  src='/gwt-resources/images/icon_show_work.png'/></a>
        </div>        
        <div id='tutor_raw_steps_wrapper'>
            $solution_html
                     </div>
        <div id='steps_tail' style='position: relative'>
            <a id='show-work-force' style='text-align: center;display: block;height: 20px;width: 200px;position: absolute;top: 1;left:10;' href='#' onclick='showWorkDialog_Gwt()'><img src='/gwt-resources/images/show-work-required.png'/></a>
            <div id='steps_tail_padding'>
                <a id='steps_prev' onmouseover='setStepsInfoHelp(getNextMoveTo(-1))'
                    onMouseOut="resetStepsInfo();" href="javascript:void(0)"
                    onclick="showPreviousStep();return false;" class="notips"
                    accesskey="p">
                    <img id='steps_prev_img' src="/images/tutor5/steps_previous-disabled.gif">
                </a>
                <a id='steps_next' onmouseover='setStepsInfoHelp(getNextMoveTo(1))'
                    onMouseOut="resetStepsInfo();" href="javascript:void(0);" onclick="showNextStep();return false;"
                    tabindex="1" class="notips" accesskey="s">
                    <img id='steps_next_img' src="/images/tutor5/steps_next-disabled.gif">
                </a>
                <div class='cm-tutor-button-bar-bottom' style='float: right;'>
                   <a class='button debug-off' href='#' onclick='expandAllSteps();'>Expand</a>
                   <a class='button' href='#' onclick='showWorkDialog_Gwt();return false;'>Show Work<img  src='/gwt-resources/images/icon_show_work.png'/></a>
                   <a class='button' href='#' onmouseover='showAskATutorTooltip_Cm()' onmouseout='nd()'onclick='TutorManager.askATutor();return false;'>Ask a Tutor<img src='/gwt-resources/images/icon_ask_a_tutor.png'/></a>
               </div>
        </div>
        <img id='scrollTo-button' src='/images/tutor5/spacer.gif'>
    </div>
    <!-- HOTMATH BODY END -->
</div>
<!--  END TUTOR GUTS  -->
