#tfq_list li {
	list-style-type: circle;
	list-style: circle;
	list-style: circle;
	margin-left: 20px;
	margin-right: 10px;
	list-style-position: outside;
	padding-bottom: 10px;
	font-size: 0.9em;
	color: #666666;
}

ul#tfq_list {
	padding-left: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}