body {
    background: url(../images/body_background.png);
    background-repeat: repeat-x;
    font-family: Tahoma, 'Cantarell', sans-serif;
    font-size: 15px;
}

.doc {
    margin: auto; /* center in viewport */
    width: 960px; /* fix page width */
}

h1 {
    color: #333333;	
	font-size: 1.7em;
	font-weight: normal;
	margin-bottom: 15px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}


a:link,
a:visited,
a:active,
a:hover {
    color: #00bdbd;
}

.purchase-points {
	color: #666666;
}
.purchase-points h1 {
	margin-bottom: 10px;
	color: #ed411c;
}

.purchase-points .yui3-g {
	font-size: .85em;
}

.purchase-points a:link,
.purchase-points a:visited,
.purchase-points a:active {
    color: #00bebe;
	text-decoration: none;
}

.purchase-points a:hover {
	text-decoration: underline;
}

.purchase-point {
	margin-left: 5px;
}

p {
	color: #666;
	font-size: .9em;
	margin-bottom: 15px;
}


#content-middle p {
	margin-right: 30px;
}
	


.yui3-g .content {
	border: 2px solid #000;
	margin-right: 10px; /* "column" gutters */
	padding: 1em;
}

#header {
	height: 86px;
}

#header .header_image {
	margin: 30px 0 0 15px;
}

#header .loginbutton {
	margin-top: 33px;
	margin-left: 20px;
}
#menubar {
	height: 61px;
    text-align: center;
}

#menubar a {
	display: block;
	margin-top: 15px;
	text-decoration: none;
	color: #2F2F2F;
}

#main-content {
    min-height: 320px;
    height: auto !important;
    height: 320px;
	position: relative;
}

#main-content-right h1 {
	   color: #ed411c;
}

.top-image {
	margin-bottom: 30px;
}

#content-top {
	text-align: center;
}


#content-middle {
	height: 440px;
}

#content-middle h2 {
	margin-bottom: 10px;
}

#content-bottom {
	margin-top: 25px;
	height: 755px;
}

#content-bottom .info-box-wrapper {
	height: 350px;
}

#content-bottom .info-box {
	margin-top: 5px;
}

#content-bottom .info-box .label {
	font-size: 1.5em;
	color: #829E3A;
	margin-left: 5px;
}

#big-buttons {
	margin-top: 50px;
}

.info-box p {
	font-size: .8em;
	width: 300px;
	margin-bottom: 5px;
	padding: 3px;
	min-height: 50px;
    height:auto !important;
    height:50px;
}

.info-box-selected {
	background: #E8E8E8;
    
    -webkit-box-shadow: #AAA 3px 3px 3px; 
    -moz-box-shadow: #AAA 3px 3px 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content-bottom  .info-box-wrapper a:hover,
#content-bottom .info-box-wrapper  a:link,
#content-bottom .info-box-wrapper  a:active,
#content-bottom .info-box-wrapper  a:visited {
	color: #666666;
	text-decoration:none;
}

#content-bottom .info-box-wrapper {
	cursor:pointer;
}

.info-box button {
	font-size: 10px;
	color: #80A023 !important;
}
	
#content-bottom h1 {
	margin-bottom: 20px;
}

#footer-find {
	height: 385px;
	background: #343434;
	color: white;
	padding-top: 25px;
}

#footer-find h1 {
	font-size: 1.9em;
	margin-top: 15px;
	margin-bottom: 10px;
	color:  white;
}

#footer-find p {
	color: #6E6E6E;
}

#footer-find h2 {
	margin-top: 15px;
}

#footer-find ul li {
	color: #5B6A2E;
	line-height: 25px;
}

#footer-find ul li a {
    color: #72af15;
    text-decoration: none;
}

#footer-find ul li a:hover {
	text-decoration: underline;
}


#footer-find h2 a {
	color: white;
	text-decoration: none;
}
#footer-find h2 a:hover {
	text-decoration:underline;
}


#footer-find ul li img {
	margin-right: 10px;
}


#footer-find ul.sitemap-links li a {
	color: #CD722C;
}



#footer-wrapper {
   width: 960px;
   margin: auto;
}



#footer {
	height: 73px;
	background: #1A1A1A;
	color: white;
}

#footer .copyright {
	color: #949494;
	padding-top: 20px;
	font-size: .8em;
}

.copyright {
	font-style: italic;
	text-align: center;
}


.sexybutton.sexysimple.sexywhite {
	background: #FFF;
}

#content-middle-right {

}


#content-middle-right .yui3-g {
	height: 95px;
}

#content-middle-right img {
	margin-top: 5px;
}


.info-image {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	
}

.info-title {
	float: left;
}

.clear {
	clear: both;
}


/* YUI Skin styles
*/

.yui3-overlay-content {
    padding:2px;
    border:1px solid #000;
    background-color:#aaa;
    font-size:93%;
}
 
.yui3-overlay-content .yui3-widget-hd {
    font-weight:bold;
    text-align:center;
    padding:2px;
    border:2px solid #aa0000;
    background-color:#fff;
}
 
.yui3-overlay-content .yui3-widget-bd {
    text-align:left;
    padding:2px;
    border:2px solid #0000aa;
    background-color:#fff;
}


div.postit{ 
    float: right;
    font-family: 'Reenie Beanie', arial, serif;
	font-size: 2em;
    border:1px solid yellow; 
    height:350px; 
    width:300px; 
    background-color: rgba(60, 132, 198, 0.8); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057)); 
    background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%); 
    border-top-color: #FFF057; 
    border-right-color: #FFF057; 
    border-bottom-color: #FFF057; 
    border-left-color: #FFF057; 
    -webkit-box-shadow: #AAA 0px 10px 16px; 
    -moz-box-shadow: #AAA 0px 10px 16px;
} 


div.postit p {
	padding: 20px;
}


#bottom-content-wrapper {
	margin-top: 25px;
	background: url(/assets/images/bottom-content-background.png) repeat-x;
	height: 25px;
	height: 35px;
}

.standout {
	color: #6dad00;
	font-size: 1.1em;
}


.round-corners-1 {
    -webkit-box-shadow: #AAA 0px 10px 16px; 
    -moz-box-shadow: #AAA 0px 10px 16px;
    -moz-border-radius: 15px;
    border-radius: 15px;   			   
}

#video-wrapper {
    width: 650px;
    height: 505px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    background: black;
}