body {
    background: url(../images/body_background.png);
    background-repeat: repeat-x;
    font-family: Tahoma, 'Cantarell', sans-serif;
    font-size: 15px;
}

.doc {
    margin: auto; /* center in viewport */
    width: 960px; /* fix page width */
}

h1 {
    color: #333333;
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 15px;
}

h2 {
    color: #6DAD00;
    font-size: 1.5em;
    margin-bottom: 5px;
}

h3 {
    color: #6DAD00;
    font-size: 1.2em;
    margin-top: 3px;
    margin-bottom: 5px;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #00bdbd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.purchase-points {
    color: #666666;
}

.purchase-points h1 {
    margin-bottom: 10px;
    color: #ed411c;
}

.purchase-points .yui3-g {
    font-size: .85em;
}

.purchase-points a:link,
.purchase-points a:visited,
.purchase-points a:active {
    color: #00bebe;
    text-decoration: none;
}

.purchase-points a:hover {
    text-decoration: underline;
}

.purchase-point {
    margin-left: 5px;
}

p {
    color: #666;
    font-size: .9em;
    margin-bottom: 15px;
    line-height: 1.5em;
}

#content-middle p {
    margin-right: 30px;
}

.yui3-g .content {
    border: 2px solid #000;
    margin-right: 10px; /* "column" gutters */
    padding: 1em;
}

#header {
    height: 86px;
}

#header .header_image {
    margin: 30px 0 0 0px;
}

#main-content {
    min-height: 320px;
    height: auto !important;
    height: 320px;
    position: relative;
    margin-left: 5px;
    margin-top: 20px;
}

#main-content-right h1 {
    color: #ed411c;
}

.top-image {
    margin-bottom: 30px;
}

#content-top {
    text-align: center;
}

#content-middle {
    height: 440px;
}

#content-middle h2 {
    margin-bottom: 10px;
}

#content-bottom {
    margin-top: 25px;
}

#content-bottom .info-box-wrapper {
    height: 280px;
}

#content-bottom .info-box {
    margin-top: 5px;
}

#content-bottom .info-box .label {
    font-size: 1.5em;
    color: #6DAD00;
}

#big-buttons {
    margin-top: 50px;
}

.info-box p {
    font-size: .8em;
    width: 290px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
    line-height: 1.5em;
}

.info-box-selected {
    background: #E8E8E8;
}

#content-bottom  .info-box-wrapper a:hover,
#content-bottom .info-box-wrapper  a:link,
#content-bottom .info-box-wrapper  a:active,
#content-bottom .info-box-wrapper  a:visited {
    color: #00BEBE;
    text-decoration: none;
}

#content-bottom  .info-box-wrapper a:hover {
    text-decoration: underline;
}

#content-bottom .info-box-wrapper {
    cursor: pointer;
}

.info-box button {
    font-size: 10px;
    color: #80A023 !important;
}

#content-bottom h1 {
    margin-bottom: 20px;
}

#footer-find {
    height: 300px;
    background: #343434;
    color: white;
    padding-top: 25px;
}

#footer-find h1 {
    font-size: 1.7em;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #8F8F8F;
}

#footer-find p {
    color: #6E6E6E;
}

#footer-find h2 {
    margin-top: 15px;
    font-size: 1.1em;
}

#footer-find .bar {
    color: #8F8F8F;
}

#footer-find ul li {
    color: #5B6A2E;
    line-height: 25px;
}

#footer-find ul li a {
    color: #72af15;
    text-decoration: none;
    font-size: 1em;
}

#footer-find ul li a:hover {
    text-decoration: underline;
}

#footer-find h2 a {
    text-decoration: none;
    color: white;
}

#footer-find h2 a:hover {
    text-decoration: underline;
}

#footer-find ul li img {
    margin-right: 10px;
}

#footer-find ul.sitemap-links li a {
    color: #CD722C;
}

#footer-wrapper {
    width: 960px;
    margin: auto;
}

#footer-wrapper h2 img {
    margin-right: 10px;
}

#footer {
    height: 73px;
    background: #1A1A1A;
    color: white;
}

#footer .copyright {
    color: #949494;
    padding-top: 20px;
    font-size: .8em;
}

.copyright {
    font-style: italic;
    text-align: center;
}

.italic {
    font-style: italic;
}

.sexybutton.sexysimple.sexywhite {
    background: #FFF;
}

#content-middle-right {

}

#content-middle-right .yui3-g {
    height: 95px;
}

#content-middle-right img {
    margin-top: 2px;
}

.info-image {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;

}

.info-title {
    float: left;
}

.clear {
    clear: both;
}

/* YUI Skin styles
*/

.yui3-overlay-content {
    padding: 2px;
    background-color: #33CCCC;
    font-size: 93%;
}

.yui3-overlay-content .yui3-widget-hd {
    font-weight: bold;
    text-align: left;
    color: white;
    padding: 2px;
    border: 2px solid #33CCCC;
    background: #33CCCC;
}

.yui3-overlay-content .yui3-widget-bd {
    text-align: left;
    padding: 2px;
    border: 2px solid #33CCCC;
    background-color: #fff;
}

.yui3-overlay-content .yui3-widget-hd {
}


#webinar-video .yui3-overlay-content .yui3-widget-bd, #mona-video .yui3-overlay-content .yui3-widget-bd {
    background: #1a1a1a;
    padding: 0;
}

#mona-video .yui3-overlay-content {
}

div.postit {
    float: right;
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 2em;
    border: 1px solid yellow;
    height: 350px;
    width: 300px;
    background-color: rgba(60, 132, 198, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057));
    background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%);
    border-top-color: #FFF057;
    border-right-color: #FFF057;
    border-bottom-color: #FFF057;
    border-left-color: #FFF057;
    -webkit-box-shadow: #AAA 0px 10px 16px;
    -moz-box-shadow: #AAA 0px 10px 16px;
}

div.postit p {
    padding: 20px;
}

#bottom-content-wrapper {
    margin-top: 25px;
    background: url(/assets/images/bottom-content-background.png) repeat-x;
    height: 25px;
    height: 35px;
}

p.standout {
    color: #6dad00;
    font-size: 1.1em;
    line-height: 1.3em;
}

.round-corners-1 {
    -webkit-box-shadow: #AAA 0px 10px 16px;
    -moz-box-shadow: #AAA 0px 10px 16px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#video-wrapper {
    width: 650px;
    height: 505px;
    text-align: center;
    padding: 20px;
    background: #1A1A1A;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 960px;
    height: 468;
}

#content-middle-right b {
    color: #333;
    font-weight: normal;
}

/* define Sexy Buttons
 */

/* start sexy_cm_green
*/

.sexy_cm_green span span {
    font-size: 15px;
    font-weight: normal;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5 );
}

.sexy_cm_green:hover span,
.sexy_cm_green:focus span {
    background-position: 100% -40px;
}

.sexy_cm_green:hover span span,
.sexy_cm_green:focus span span {
    background-position: 0% -40px;
}

.sexy_cm_green:active span {
    background-position: 100% -80px;
}

.sexy_cm_green:active span span {
    background-position: 0% -80px;
}

.sexy_cm_green[disabled] span,
.sexy_cm_green.disabled span {
    background-position: 100% -120px;
}

.sexy_cm_green[disabled] span span,
.sexy_cm_green.disabled span span {
    background-position: 0% -120px;
}

.sexybutton.sexy_cm_green,
.sexybutton.sexy_cm_green:hover,
.sexybutton.sexy_cm_green:focus {
    color: white !important;
}

.sexybutton.sexy_cm_green[disabled],
.sexybutton.sexy_cm_green[disabled]:hover,
.sexybutton.sexy_cm_green[disabled]:active,
.sexybutton.sexy_cm_green[disabled]:focus,
.sexybutton.sexy_cm_green.disabled,
.sexybutton.sexy_cm_green.disabled:hover,
.sexybutton.sexy_cm_green.disabled:active,
.sexybutton.sexy_cm_green.disabled:focus {
    color: #333 !important;
}

.sexybutton.sexy_cm_green span span {
    background-image: url(/assets/images/sexybutton_green_left.png);
}

.sexybutton.sexy_cm_green span {
    background-image: url(/assets/images/sexybutton_green_right.png);
}

.sexybutton.sexy_cm_green span {
    height: 40px;
    line-height: 40px;
}









/*
   sexy_cm_gray definitions
*/

.sexy_cm_gray span span {
    font-size: 15px;
    font-weight: normal;
    text-shadow: none;
}

#login_button.sexy_cm_gray a:link,
#login_button.sexy_cm_gray a:active,
#login_button.sexy_cm_gray a:visited,
#login_button.sexy_cm_gray a:hover  {
}

.sexy_cm_gray:hover span,
.sexy_cm_gray:focus span {
    background-position: 100% -40px;
}

.sexy_cm_gray:hover span span,
.sexy_cm_gray:focus span span {
    background-position: 0% -40px;
}

.sexy_cm_gray:active span {
    background-position: 100% -80px;
}

.sexy_cm_gray:active span span {
    background-position: 0% -80px;
}

.sexy_cm_gray[disabled] span,
.sexy_cm_gray.disabled span {
    background-position: 100% -120px;
}

.sexy_cm_gray[disabled] span span,
.sexy_cm_gray.disabled span span {
    background-position: 0% -120px;
}

.sexybutton.sexy_cm_gray,
.sexybutton.sexy_cm_gray:hover,
.sexybutton.sexy_cm_gray:focus {
    color: black !important;
}

.sexybutton.sexy_cm_gray[disabled],
.sexybutton.sexy_cm_gray[disabled]:hover,
.sexybutton.sexy_cm_gray[disabled]:active,
.sexybutton.sexy_cm_gray[disabled]:focus,
.sexybutton.sexy_cm_gray.disabled,
.sexybutton.sexy_cm_gray.disabled:hover,
.sexybutton.sexy_cm_gray.disabled:active,
.sexybutton.sexy_cm_gray.disabled:focus {
    color: #333 !important;
}

.sexybutton.sexy_cm_gray span span {
    background-image: url(/assets/images/sexybutton_login_left.png);
}

.sexybutton.sexy_cm_gray span {
    background-image: url(/assets/images/sexybutton_login_right.png);
}

.sexybutton.sexy_cm_gray span {
    height: 40px;
    line-height: 40px;
}

/** end sexy_cm_gray defs */
















/* end sexy button green */

/* start sexybutton_xxl-aqua_left */

.sexybutton_xxl-aqua span span {
    font-size: 25px;
    font-weight: normal;
}

.sexybutton_xxl-aqua:hover span,
.sexybutton_xxl-aqua:focus span {
    background-position: 100% -90px;
}

.sexybutton_xxl-aqua:hover span span,
.sexybutton_xxl-aqua:focus span span {
    background-position: 0% -90px;
}

.sexybutton_xxl-aqua:active span {
    background-position: 100% -180px;
}

.sexybutton_xxl-aqua:active span span {
    background-position: 0% -180px;
}

.sexybutton_xxl-aqua[disabled] span,
.sexybutton_xxl-aqua.disabled span {
    background-position: 100% -270px;
}

.sexybutton_xxl-aqua[disabled] span span,
.sexybutton_xxl-aqua.disabled span span {
    background-position: 0% -270px;
}

.sexybutton.sexybutton_xxl-aqua,
.sexybutton.sexybutton_xxl-aqua:hover,
.sexybutton.sexybutton_xxl-aqua:focus {
    color: white !important;
}

.sexybutton.sexybutton_xxl-aqua[disabled],
.sexybutton.sexybutton_xxl-aqua[disabled]:hover,
.sexybutton.sexybutton_xxl-aqua[disabled]:active,
.sexybutton.sexybutton_xxl-aqua[disabled]:focus,
.sexybutton.sexybutton_xxl-aqua.disabled,
.sexybutton.sexybutton_xxl-aqua.disabled:hover,
.sexybutton.sexybutton_xxl-aqua.disabled:active,
.sexybutton.sexybutton_xxl-aqua.disabled:focus {
    color: #333 !important;
}

.sexybutton.sexybutton_xxl-aqua span span {
    background-image: url(/assets/images/sexybutton_xxl-aqua_left.png);
}

.sexybutton.sexybutton_xxl-aqua span {
    background-image: url(/assets/images/sexybutton_xxl-aqua_right.png);
}

.sexybutton.sexybutton_xxl-aqua span {
    height: 90px;
    line-height: 90px;
}

/* end sexybutton_xxl-aqua_left */

/* start sexybutton_xxl-green_left */

.sexybutton_xxl-green span span {
    font-size: 25px;
    font-weight: normal;
}

.sexybutton_xxl-green:hover span,
.sexybutton_xxl-green:focus span {
    background-position: 100% -90px;
}

.sexybutton_xxl-green:hover span span,
.sexybutton_xxl-green:focus span span {
    background-position: 0% -90px;
}

.sexybutton_xxl-green:active span {
    background-position: 100% -180px;
}

.sexybutton_xxl-green:active span span {
    background-position: 0% -180px;
}

.sexybutton_xxl-green[disabled] span,
.sexybutton_xxl-green.disabled span {
    background-position: 100% -270px;
}

.sexybutton_xxl-green[disabled] span span,
.sexybutton_xxl-green.disabled span span {
    background-position: 0% -270px;
}

.sexybutton.sexybutton_xxl-green,
.sexybutton.sexybutton_xxl-green:hover,
.sexybutton.sexybutton_xxl-green:focus {
    color: white !important;
}

.sexybutton.sexybutton_xxl-green[disabled],
.sexybutton.sexybutton_xxl-green[disabled]:hover,
.sexybutton.sexybutton_xxl-green[disabled]:active,
.sexybutton.sexybutton_xxl-green[disabled]:focus,
.sexybutton.sexybutton_xxl-green.disabled,
.sexybutton.sexybutton_xxl-green.disabled:hover,
.sexybutton.sexybutton_xxl-green.disabled:active,
.sexybutton.sexybutton_xxl-green.disabled:focus {
    color: #333 !important;
}

.sexybutton.sexybutton_xxl-green span span {
    background-image: url(/assets/images/sexybutton_xxl-green_left.png);
}

.sexybutton.sexybutton_xxl-green span {
    background-image: url(/assets/images/sexybutton_xxl-green_right.png);
}

.sexybutton.sexybutton_xxl-green span {
    height: 90px;
    line-height: 90px;
}

/* end sexybutton_xxl-green_left */








/* end of Sexy Button Definitions */

#menubar2 {
    height: 40px;
    line-height: 40px;
}

#menubar2 a span span {
    text-align: center;
    width: 70px;
}

#menubar2 a.notselected:hover {
    background-image: url(/assets/images/menu_over.png);
    width: 90px;
    height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

#menubar2 a:link,
#menubar2 a:active,
#menubar2 a:visited,
#menubar2 a:hover {
    color: #333;
}

ul#menubar2 {
    margin-top: 5px;
    display: block;
    height: 51px;
}

#menubar2 li {
    float: left;
    width: 110px;
    text-align: center;
}

#menubar2 #login_button {

}

.postit_2 {
    margin-left: 15px;
    background: url(/assets/images/postit_2.png) no-repeat;
    width: 320px;
    height: 364px;
}

.postit_2 p, .postit_2 .credit, .postit_2 a {
    padding: 40px 30px 0 30px;
    font-size: .9em;
}

.postit_2 p {
    color: #666666;
    font-family: 'Neucha', arial, serif;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
}

.postit_wide {
    margin-left: 15px;
    background-color: #F3ED93;
    width: 500px;
    height: 160px;
}

.postit_wide p, .postit_2 .credit, .postit_2 a {
    padding: 40px 30px 0 30px;
    font-size: .9em;
}

.postit_wide p {
    color: #666666;
    font-family: 'Neucha', arial, serif;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
}

div#postit  a + p {
    padding-top: 20px;
}

.second {

}

.postit_2 .credit {
    color: #666666;
    display: block;
    font-family: 'Neucha', arial, serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 3px;
}

.postit_2 a {
    display: block;
    font-family: verdana;
    font-size: 0.6em;
    font-weight: bold;
    padding-top: 0;
}

.postit_2 .not_normal {
    color: #000000;
    font-size: 1em;
    font-family: 'Inconsolata', arial, serif;
}

.quote {
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 10px;
    font-style: normal;
    background: #FCFFD8;
    padding: 15px;
    border: 1px solid #f4f1ca;
    border-radius: 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 20px;
}

.quote-from {
    font-weight: bold;
    font-size: 1em;
    font-style: normal;
    color: #666;
}

.column-left {
    margin-right: 10px;
}

.column-right {
    margin-left: 10px;
}



.yui3-widget-hd .close {
	position: absolute;
	top: 5px;
	right: 8px;
	color: white;
	font-weight: bold;
}


.yui3-widget-hd .close span {
   font-size: .8em;
}