   .faq-item-content {
      display: none;
	  margin: 5px; 10px 15px 15px;
	  background: #C9D5DB;
	  padding: 5px;
      width:550px;
      font-family:Arial,Helvetica,sans-serif;
	  font-size:1.1em;
      line-height:1.3em;
	  padding-bottom:10px;
      padding-left:10px;
   }

   #faq_list li {
	list-style-type: disc;
	list-style:disc;
	list-style:disc;
	margin-left: 20px;
	list-style-position:outside;
   }
   
   #faq_list  li h2 {
      margin-left: 10px;
	  font-size: 1.1em;
   } 

   #faq_list ul {
      padding-left: 0px;
   }
   
   #faq_list a:link,
   #faq_list a:active,
   #faq_list a:visited
   { 
     color: #D6471F;
     text-decoration: none;
   }

   #faq_list a:hover {
     text-decoration: underline;
   }

h2 {
   margin-top: 0;
}

.display {
	display: block;
}

.hide {
	display: none;
}