h1 {
	margin-bottom: 25px;
}

.quote {
        color: #666666;
        font-size: 13px;
	font-weight: normal;
	margin-bottom: 10px;
	font-style: normal;
}

.quote-from {
	font-weight: bold;
        font-size: 1em;
	font-style: normal;
        color: #666;
}
